:root
{
    --primary-color: #121211;
    /* # */
    /* --primary-color: #202731; */

    --secondary-color: #00aa00; /* Bright color */ 

    --primary-text-color: #ececec;
    --secondary-text-color: #00aa00;
    --secondary-color-lighter: #99fa69;
    
}

* {
    margin: 0;
    display: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

body {
    background-color: var(--primary-color);
}

p, h1, h2, h3, h4 {
    color: var(--primary-text-color);
}

span, a {
    color: var(--secondary-text-color);
}

section {
    position: relative;
    padding: 200px 10vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-evenly;
    
}

.header_img {
    width: 500px;
    height: auto;
}

.portfolio {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio img {
    height: 400px;
    width: auto;
}

/* SVG css */
.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.spacer-thin {
    aspect-ratio: 960/50;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.layer-bottom1 {
    background-image: url('./svg/layer-bottom1.svg');
}

.layer-bottom2 {
    background-image: url('./svg/layer-bottom2.svg');
}

.layer-top1 {
    background-image: url('./svg/layer-top1.svg');
}
.layer-top2 {
    background-image: url('./svg/layer-top2.svg');
}

.layer-top1-thin {
    background-image: url('./svg/layer-top1-thin.svg');
}


/* TYPE WRITING ANIMATION */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--secondary-text-color); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--secondary-text-color); }
  }

/* LOADER */
.loader {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid var(--secondary-color); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;

    animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;

}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
